/*Les propriétés de la corp de la page*/

body {
    margin: 0;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
header, #deux_sections, #activites_a_marseille {
    margin: 0 5em 0 5em;
}

/*Stylisation de l'entête (barre de navigation, logo, barre de recherhce...)*/

header img {
    height: 10%;
    width: 10%;
}
nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barre_de_navigation {
    display: flex;
}
#barre_de_navigation a {
    margin: 0 1em;
    text-decoration: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    border-top: 5px solid rgb(0, 101, 252);
    padding-top: 2.25em;
    color: rgb(0, 101, 252);
}
#element_inscrire {
    color: rgb(0, 101, 252);
    font-weight: bold;
    border-top: none;
}
form {
    display: flex;
    justify-content: flex-start;
    height: 2em;
}
#champ_recherche, #bouton_recherche, #icon_localisation {
    border: 1px solid rgb(242, 242, 242);
}
#champ_recherche {
    text-align: center;
}
#bouton_recherche {
    border: 1px solid rgb(0, 101, 252);
    background-color: rgb(0, 101, 252);
    border-radius: 0 15px 15px 0;
    color: white;
}
#icon_localisation {
    display: flex;
    align-items: center;
    width: 2%;
    height: auto;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    border-radius: 15px 0 0 15px;
    border: 1px solid rgb(242, 242, 242);
}
input {
    font-weight: bold;
}
#filtres {
    display: flex;
    width: 65%;
    justify-content: space-around;
}
#filtres p {
    padding: 0 15px;
    font-size: 125%;
}
#filtre_par_categorie, .icon_par_categorie, #filtre_par_categorie {
    display: flex;
    margin-top: 2em;
    align-items: center;
    font-weight: bold;
}
.icon_par_categorie {
    margin-top: 0;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 3em;
}
.icon_par_categorie:hover {
    background-color: rgb(217, 217, 217);
}
.icon_filtre {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    border-radius: 100%;
    padding: 15px;
    height: 3px;
    width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#filtres p {
    margin: 0;
}
#info {
    display: flex;
    align-items: flex-start;
}
#icon_info {
    height: 5px;
    width: 5px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    color: rgb(0, 101, 252);
    margin-right: 5px;
}
header > p .icon_filtre {
    background-color: white;
    font-size: xx-small;
    margin-right: 10px;
}
header > p {
    display: flex;
    align-items: center;
}
.icon_par_categorie > p {
    margin: 0 1.5em 0 1.5em;
    font-weight: bold;
}

/*Stylisation des deux première sections (hébergement à Marseille et les plus populaires)*/

#deux_sections {
    display: flex;
    justify-content: space-between;
}
.hebergements + p {
    font-weight: bold;
}
#hebergements_a_marseille {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    border-radius: 2em;
    padding: 2em;
    width: 65%;
}
.hebergements {
    border: 2px solid white;
    border-radius: 2em;
    background-color: white;
    margin-bottom: 2em;
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
    width: 25%;
}
.hebergements:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
.hebergements > p {
    position: relative;
    left: 10px;
    margin-top: 0.5px;
    padding-bottom: 1px;
}
#cartes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements img {
    height: 7em;
    width: 98.5%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 2em 0 0;
}
#plus_onglets {
    font-weight: bold;
}
.cout {
    font-weight: bold;
}
.etoile {
    color: rgb(0, 101, 252);
}
.etoile_desactive {
    color: rgb(242, 242 ,242);
}
#les_plus_populaires {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242 ,242);
    border-radius: 2em;
    padding: 2em;
    width: 23%;
}
#les_plus_populaires img {
    height: 9em;
    width: 7em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 0 0 2em;
}
.cartes_populaires {
    border: 1px solid white;
    background-color: white;
    border-radius: 2em;
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
}
.cartes_populaires:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
#populaires {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cote {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    flex-direction: column;
    padding-left: 15px;
    font-size: small;
    width: 10em;
}
.cote, .cartes_populaires {
    display: flex;
}
#aligner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.espace_plus_petit {
    margin-top: -10px;
}
.text_important {
    font-weight: bold;
}

/*Stylisation dee la section activités à Marseille*/

.bloc_de_3_cartes {
    display: flex;
    width: 47%;
    justify-content: space-between;
}
.activites {
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
    border-radius: 2em;
}
.activites:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
.activites p {
    padding-left: 1em;
}
#activites_cartes {
    display: flex;
    justify-content: space-between;
}
#activites_cartes img {
    border: none solid rgb(254, 254, 254);
    background-color: rgb(245, 245, 245);
    border-radius: 2em 2em 0 0;
}
.activites_en_colone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.activites_mode_portrait {
    height: 22em;
    width: 16em;
    object-fit: cover;
}
.mode_paysage_grand {
    height: 10em;
    width: 18em;
    object-fit: cover;
}
.mode_paysage_petit {
    height: 5em;
    width: 19em;
    object-fit: cover;
}

/*Stylisation du pied de page*/

footer {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-top: 5em;
    background-color: rgb(242, 242, 242);
    padding: 5em;
}
footer div {
    margin-right: 15em;
    
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    border-bottom: 0.5px solid black;
}

/*Adaptation du site pour les mobiles de mobiles de 375 pixels*/

@media only screen and (min-width: 340px) and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 85%;
        width: 100%;
    }
    header {
        margin: 0;
    }
    nav {
        flex-flow: row wrap;
        justify-content: center;
    }
    nav a:hover {
        padding-top: 0;
        border-top: none;
        color: none;
    }
    #barre_de_navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #liens_vers_ancres {
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
        margin-bottom: 2em;
        width: 100%;
    }
    #liens_vers_ancres a {
        margin: 0;
        border-bottom: 3px solid rgb(242, 242 ,242);
        padding-bottom: 1em;
        width: 100%;
        text-align: center;
    }
    #liens_vers_ancres a:hover {
        text-align: center;
        border-bottom: 3px solid rgb(0, 101, 252);
        padding-bottom: 1em;
        width: 100%;
    }
    .liens_ancres {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    nav img {
        position: absolute;
        left: 2em;
        top: 0em;
        height: 4em;
        width: 10em;
    }
    #icon_localisation {
        width: 5%;
    }
    header p, form, #info, #filtre_par_categorie {
        margin: 0 2em;
        padding: 0.5em 0;
    }
    header h2 {
        margin: 0 2em 0 1.3em;
    }
    #element_inscrire {
        position: absolute;
        top: 1.5em;
        right: 2em;
    }
    #deux_sections, #activites_a_marseille {
        margin: 0 1em;
    }
    #aligner {
        margin: 0 2em 0 2em;
    }
    #filtre_par_categorie {
        display: block;
    }
    #filtre_par_categorie p {
        margin: 0;
    }
    #filtres p {
        padding: 0 1em;
    }
    #aligner {
        display: flex;
        align-items: flex-start;
    }
    #filtres {
        display: flex;
        flex-flow:  row wrap;
        justify-content: flex-start;
    }
    .icon_par_categorie {
        margin: 0 1em 1em 0em
    }
    #deux_sections {
        display: flex;
        flex-flow: column-reverse nowrap;
        width: 100%;
        margin: 0;
    }
    #hebergements_a_marseille {
        border-radius: 0;
        background-color: white;
        border: none;
        padding: 0;
        width: 100%;
    }
    .hebergements {
        width: 85%;
    }
    #cartes {
        justify-content: center;
    }
    .cartes_populaires {
        width: 85%;
    }
    #populaires {
        justify-content: space-around;
        align-items: center;
    }
    .hebergements img {
        width: 100%;
        border: 0;
    }
    #plus_onglets {
        margin-left: 1.5em;
    }
    #logement_coucher  {
        margin-left: 1.5em;
    }
    #les_plus_populaires {
        border: none;
        width: auto;
        border-radius: 0;
        padding: 0;
    }
    #aligner {
        align-items: center;
    }
    #activites_a_marseille {
        margin: 2em;
        height: 100%;
    }
    .bloc_de_3_cartes {
        display: block;
        width: auto;
    }
    #activites_cartes {
        display: flex;
        flex-direction: column;
    }
    #activites_cartes p {
        position: relative;
        bottom: 10px;
    }
    .activites {
        display: block;
    }
    #activites_a_marseille img {
        height: 10em;
        width: 100%;
    }
    .activites_en_colone {
        display: block;
    }
    .activites_cartes {
        display: block;
    }
    footer {
        display: block;
        white-space: nowrap;
        justify-content: flex-start;
    }
}

/*Adaptation des tablettes de 768 pixels à 1800 pixels*/

@media only screen and (min-width: 768px) and (max-width: 1500px) {
    nav img {
        height: 15%;
        width: 15%;
    }
    #filtres {
        flex-wrap: wrap;
        margin-left: 5%;
        justify-content: space-between;
    }
    #filtre_par_categorie {
        align-items: center;
    }
    #filtre_par_categorie > p {
        margin-top: 0;
    }
    .icon_par_categorie {
        margin-bottom: 1em;
    }
    #activites_a_marseille {
        display: block;
    }
    #activites_cartes {
        display: block;
    }
    #deux_sections {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    #hebergements_a_marseille {
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
    .hebergements img {
        width: 100%;
        justify-content: center;
    }
    #plus_onglets, #logement_coucher {
        margin-left: 4%;
    }
    #cartes {
        justify-content: space-around;
    }
    #les_plus_populaires {
        margin-top: 1em;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: 22.5em;
    }
    #aligner {
        margin: 0 4%;
    }
    #populaires {
        justify-content: space-around;
        height: auto;
    }
    #les_plus_populaires img {
        width: 100%;
        border-radius: 2em 2em 0 0;
        justify-content: center;
        border: none;
    }
    #populaires {
        flex-direction: row;
    }
    .cartes_populaires {
        width: 25%;
        flex-direction: column;
        height: 45%;
    }
    .cote {
        width: 100%;
        padding-left: 0;
        align-items: center;
    }
    .bloc_de_3_cartes {
        align-content: space-around;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        width: 100%;
    }
    .activites {
        width: 28.8%;
    }
    .activites_en_colone .activites {
        width: 98%;
    }
    .activites_en_colone {
        width: 30%;
    }
    .activites_mode_portrait, .mode_paysage_petit, .mode_paysage_grand {
        width: 100%;
    }
    footer {
        white-space: nowrap;
        flex-wrap: wrap;
    }
    footer div {
        margin-right: 15%;
    }
}
@media only screen and (max-width: 340px) {
    body {
        display: none;
    }
}