body {
    margin: 75px;
}
header img {
    height: 10%;
    width: 10%;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
nav li {
    margin: 25px;
}
nav a {
    text-decoration-line: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    border-top: 5px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}
#element_inscrire {
    color: rgb(0, 101, 252);
    font-weight: bold;
    border-top: none;
}
#champ_recherche, #icon_localisation {
    border: 1px solid rgb(242, 242, 242);
    text-align: center;
}
#bouton_recherche {
    border: 1px solid rgb(0, 101, 252);
    background-color: rgb(0, 101, 252);
    border-radius: 0 5px 5px 0;
    color: white;
    position: relative;
    right: 8px;
}
#icon_localisation {
    background-color: rgb(242, 242, 242);
}