/*Les propriétés de la corp de la page*/

body {
    margin: 0;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
header, #deux_sections, #activites_a_marseille {
    margin: 0 5em 0 5em;
}

/*Stylisation de l'entête (barre de navigation, logo, barre de recherhce...)*/

header img {
    height: 10%;
    width: 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
nav li {
    margin: 25px;
}
nav a {
    text-decoration-line: none;
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    border-top: 5px solid rgb(0, 101, 252);
    padding-top: 2.25em;
    color: rgb(0, 101, 252);
}
#element_inscrire {
    color: rgb(0, 101, 252);
    font-weight: bold;
    border-top: none;
}
#champ_recherche, #icon_localisation {
    border: 1px solid rgb(242, 242, 242);
    text-align: center;
    padding: 10px;
}
#bouton_recherche {
    border: 1px solid rgb(0, 101, 252);
    background-color: rgb(0, 101, 252);
    border-radius: 0 15px 15px 0;
    color: white;
    position: relative;
    right: 8px;
    padding: 10px;
}
#icon_localisation {
    background-color: rgb(242, 242, 242);
    position: relative;
    left: 6px;
    border-radius: 15px 0 0 15px;
}
input {
    font-weight: bold;
}
#filtres {
    display: flex;
}
#filtre_par_categorie, .icon_par_categorie {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}
.icon_par_categorie {
    margin-left: 2em;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 3em;
}
.icon_par_categorie:hover {
    background-color: rgb(217, 217, 217);
}
.icon_filtre {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    border-radius: 100%;
    padding: 15px;
    height: 3px;
    width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info {
    display: flex;
    align-items: flex-start;
}
#icon_info {
    height: 5px;
    width: 5px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    color: rgb(0, 101, 252);
    margin-right: 5px;
}
header > p .icon_filtre {
    background-color: white;
    font-size: xx-small;
    margin-right: 10px;
}
header > p {
    display: flex;
    align-items: center;
}
.icon_par_categorie > p {
    margin: 0 1.5em 0 1.5em;
    font-weight: bold;
}

/*Stylisation des deux première sections (hébergement à Marseille et les plus populaires)*/

#deux_sections {
    display: flex;
    justify-content: space-between;
}
.hebergements + p {
    font-weight: bold;
}
#hebergements_a_marseille {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    border-radius: 2em;
    padding: 2em;
    width: 65%;
}
.hebergements {
    border: 2px solid white;
    border-radius: 2em;
    background-color: white;
    margin-bottom: 2em;
    box-shadow: 1px 2px 1rem black;
}
.hebergements:hover {
    box-shadow: 1em 1em 10px black;
}
.hebergements > p {
    position: relative;
    left: 10px;
    margin-top: 0.5px;
    padding-bottom: 1px;
}
#cartes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements img {
    height: 7em;
    width: 15em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 2em 0 0;
}
#plus_onglets {
    font-weight: bold;
}
.cout {
    font-weight: bold;
}
.etoile {
    color: rgb(0, 101, 252);
}
.etoile_desactive {
    color: rgb(242, 242 ,242);
}
#les_plus_populaires {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242 ,242);
    border-radius: 2em;
    padding: 2em;
    width: 23%;
}
#les_plus_populaires img {
    height: 9em;
    width: 7em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 0 0 2em;
}
.cartes_populaires {
    border: 1px solid white;
    background-color: white;
    border-radius: 2em;
    box-shadow: 1px 2px 10px black;
}
.cartes_populaires:hover {
    box-shadow: 1em 1em 10px black;
}
#populaires {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cote {
    display: flex;
    justify-content: center;
    padding-left: 12px;
    flex-direction: column;
    padding-left: 15px;
    font-size: small;
    width: 10em;
}
.cote, .cartes_populaires {
    display: flex;
}
#aligner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.espace_plus_petit {
    margin-top: -10px;
}
.text_important {
    font-weight: bold;
}

/*Stylisation dee la section activités à Marseille*/

.activites {
    box-shadow: 1px 2px 10px black;
    border-radius: 2em;
}
.activites:hover {
    box-shadow: 1em 1em 10px black;
}
.activites p {
    padding-left: 1em;
}
#activites_cartes {
    display: flex;
    justify-content: space-between;
}
#activites_cartes img {
    border: none solid rgb(254, 254, 254);
    background-color: rgb(245, 245, 245);
    border-radius: 2em 2em 0 0;
}
.activites_en_colone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.activites_mode_portrait {
    height: 22em;
    width: 16em;
    object-fit: cover;
}
.mode_paysage_grand {
    height: 10em;
    width: 18em;
    object-fit: cover;
}
.mode_paysage_petit {
    height: 5em;
    width: 19em;
    object-fit: cover;
}

/*Stylisation du pied de page*/

footer {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-top: 5em;
    background-color: rgb(242, 242, 242);
    padding: 5em;
}
footer div {
    margin-right: 15em;
    
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    border-bottom: 0.5px solid black;
}

/*Adaptation du site pour les mobiles de mobiles de 375 pixels*/

@media only screen and (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 85%;
    }
    nav {
        flex-flow: row wrap;
    }
    nav ul {
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    nav a {
        padding: 0;
    }
    nav img {
        height: 2.5em;
        width: 5em;
    }
    #element_inscrire {
        position: absolute;
        top: 1em;
        right: 2em;
    }
    form {
        display: flex;
        justify-content: flex-start;
    }
    header, #deux_sections, #activites_a_marseille {
        margin: 0 2em 0 2em;
    }
    #aligner {
        margin: 0 2em 0 2em;
    }
    #filtre_par_categorie {
        display: block;
    }
    #aligner {
        display: flex;
        align-items: flex-start;
    }
    #filtres {
        display: flex;
        flex-flow:  row wrap;
    }
    .icon_par_categorie {
        margin-left: 0;
    }
    #deux_sections {
        display: flex;
        flex-flow: column-reverse nowrap;
        width: 100%;
        margin: 0;
    }
    #hebergements_a_marseille {
        border-radius: 0;
        background-color: white;
        border: none;
        padding: 0;
        width: 100%;
    }
    .hebergements {
        width: 85%;
    }
    #cartes {
        justify-content: center;
    }
    .cartes_populaires {
        width: 85%;
    }
    #populaires {
        justify-content: space-around;
        align-items: center;
    }
    .hebergements img {
        object-fit: cover;
        width: 99%
    }
    #plus_onglets {
        margin-left: 1.5em;
    }
    #logement_coucher  {
        margin-left: 1.5em;
    }
    #les_plus_populaires {
        border: none;
        width: auto;
        border-radius: 0;
        padding: 0;
    }
    #aligner {
        align-items: center;
    }
    #activites_a_marseille {
        margin: 2em;
    }
    #activites_cartes {
        display: block;
    }
    .activites {
        display: block;
    }
    #activites_a_marseille img {
        height: 10em;
        width: 100%;
    }
    .activites_en_colone {
        display: block;
    }
    .activites_cartes {
        display: block;
    }
    footer {
        display: block;
        white-space: nowrap;
        justify-content: flex-start;
    }
}
