body {
    margin: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
header, #deux_sections, #activites_a_marseille {
    max-width: 80em;
    margin: 0 5em 0 5em;
}
header img {
    height: 10%;
    width: 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
nav li {
    margin: 25px;
}
nav a {
    text-decoration-line: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    border-top: 5px solid rgb(0, 101, 252);
    padding-top: 2.25em;
    color: rgb(0, 101, 252);
}
#element_inscrire {
    color: rgb(0, 101, 252);
    font-weight: bold;
    border-top: none;
}
#champ_recherche, #icon_localisation {
    border: 1px solid rgb(242, 242, 242);
    text-align: center;
    padding: 10px;
}
#bouton_recherche {
    border: 1px solid rgb(0, 101, 252);
    background-color: rgb(0, 101, 252);
    border-radius: 0 15px 15px 0;
    color: white;
    position: relative;
    right: 8px;
    padding: 10px;
}
#icon_localisation {
    background-color: rgb(242, 242, 242);
    position: relative;
    left: 6px;
    border-radius: 15px 0 0 15px;
}
input {
    font-weight: bold;
}
#filtre_par_categorie, .icon_par_categorie {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
}
#filtre_par_categorie, #filtre_par_categorie p {
    align-items: center;
}
.icon_par_categorie {
    margin-left: 2em;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 3em;
}
.icon_filtre {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    border-radius: 100%;
    padding: 15px;
    height: 3px;
    width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon_info {
    height: 5px;
    width: 5px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    color: rgb(0, 101, 252);
    margin-right: 5px;
}
header > p .icon_filtre {
    background-color: white;
    font-size: xx-small;
    margin-right: 10px;
}
header > p {
    display: flex;
    align-items: center;
}
.icon_par_categorie > p {
    margin: 0 1.5em 0 1.5em;
    font-weight: bold;
}
#deux_sections {
    display: flex;
    justify-content: space-between;
}
.hebergements + p {
    font-weight: bold;
}
#hebergements_a_marseille {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    border-radius: 2em;
    padding: 2em;
    width: 65%;
}
.hebergements {
    border: 2px solid white;
    border-radius: 2em;
    background-color: white;
    margin-bottom: 2em;
    box-shadow: 2px 2px 2px black;
}
.hebergements > p {
    position: relative;
    left: 10px;
    margin-top: 0.5px;
    padding-bottom: 1px;
}
#cartes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hebergements img {
    height: 7em;
    width: 15em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 2em 0 0;
}
.cout {
    font-weight: bold;
}
.etoile {
    color: rgb(0, 101, 252);
}
.etoile_desactive {
    color: rgb(242, 242 ,242);
}
#les_plus_populaires {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242 ,242);
    border-radius: 2em;
    padding: 2em;
    width: 20%;
}
#les_plus_populaires img {
    height: 7em;
    width: 6em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 2em 0 0 2em;
}
.cartes_populaires {
    border: 1px solid white;
    background-color: white;
    border-radius: 2em;
}
#populaires {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.cote {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-size: small;
}
.cote, .cartes_populaires {
    display: flex;
}
#aligner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.espace_plus_petit {
    margin-top: -10px;
}
.text_important {
    font-weight: bold;
}
.activites {
    border: 5px solid rgb(247, 247, 247);
    border-radius: 2em;
}
#activites_cartes {
    display: flex;
    justify-content: space-between;
}
#activites_cartes img {
    border: 0.5px solid rgb(254, 254, 254);
    background-color: rgb(245, 245, 245);
    border-radius: 2em 2em 0 0;
}
.activites_en_colone {
    display: flex;
    flex-direction: column;
}
.activites_mode_portrait {
    height: 28em;
    width: 19em;
    object-fit: cover;
}
.mode_paysage_grand {
    height: 13em;
    width: 18em;
    object-fit: cover;
}
.mode_paysage_petit {
    height: 10em;
    width: 20em;
    object-fit: cover;
}
footer {
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-top: 5em;
    background-color: rgb(242, 242, 242);
    padding: 2.5em;
}
footer div {
    margin-right: 15em;
}