/*Les propriétés de la corp de la page*/

body {
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
header, #deux_sections, #activites_a_marseille {
    margin: 0 5em 0 5em;
}

/*Stylisation de l'entête (barre de navigation, logo, barre de recherhce...)*/

header img {
    height: 63px;
    width: 135px;
}
nav {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: black;
}
#barre_de_navigation {
    display: flex;
}
#barre_de_navigation a {
    margin: 0 2.1em;
    text-decoration: none;
}
nav a:visited {
    color: black;
}
nav a:hover {
    border-top: 5px solid rgb(0, 101, 252);
    padding-top: 2.1em;
    color: rgb(0, 101, 252);
}
#element_inscrire {
    color: rgb(0, 101, 252);
    font-weight: bold;
    border-top: none;
}
form {
    display: flex;
    justify-content: flex-start;
    height: 2em;
}
#champ_recherche, #icon_localisation {
    border: 1px solid rgb(242, 242, 242);
}
#champ_recherche {
    padding-left: 5px;
}
button {
    text-align: center;
    background-color: rgb(0, 101, 252);
    border: none;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
}
button i {
    position: absolute;
    opacity: 100%;
    right: 10em;
}
#icon_localisation {
    display: flex;
    align-items: center;
    width: 30px;
    height: auto;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(242, 242, 242);
}
input {
    font-weight: bold;
}
#filtres {
    display: flex;
    justify-content: space-around;
}
#filtres p {
    padding: 0 15px;
}
#filtres a {
    display: flex;
    text-decoration: none;
}
#filtres a:visited {
    color: black;
}
#filtre_par_categorie, .icon_par_categorie, #filtre_par_categorie {
    display: flex;
    margin-top: 2em;
    align-items: center;
    font-weight: bold;
}
.icon_par_categorie {
    margin-top: 0;
    border: 1px solid rgb(217, 217, 217);
    margin: 0 10px;
    border-radius: 3em;
}
.icon_par_categorie:hover {
    background-color: rgb(217, 217, 217);
}
.icon_filtre {
    background-color: rgb(222, 235, 255);
    color: rgb(0, 101, 252);
    border-radius: 100%;
    padding: 15px;
    height: 3px;
    width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info {
    display: flex;
    align-items: center;
}
#icon_info {
    height: 15px;
    width: 15px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    color: rgb(0, 101, 252);
    margin-right: 5px;
}
#icon_info i {
    font-size: 15px
}
header > p {
    display: flex;
    align-items: center;
}
.icon_par_categorie > p {
    margin: 0 1.5em 0 1.5em;
    font-weight: bold;
}
.icon_par_categorie > p:visited {
    color: black;
}

/*Stylisation des deux première sections (hébergement à Marseille et les plus populaires)*/

#deux_sections {
    display: flex;
    justify-content: space-between;
}
#hebergements_a_marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 2em;
    width: 65%;
}
#hebergements_a_marseille a {
    display: flex;
    text-decoration: none;
    width: 30%;
}
#hebergements_a_marseille a:visited {
    color: black;
}
.hebergements + p {
    font-weight: bold;
}
.hebergements p {
    margin: 0;
    padding: 10px;
}
.hebergements p:visited {
    color: black;
}
.hebergements {
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
}
.hebergements:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
#cartes {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 15px;
}
#cartes a {
    height: 45%;
}
.hebergements img {
    height: 7em;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
#plus_onglets {
    font-weight: bold;
    margin: 0;
    width: 6em;
}
#plus_onglets a {
    width: auto;
}
.cout {
    font-weight: bold;
}
.etoile {
    color: rgb(0, 101, 252);
}
.etoile_desactive {
    color: rgb(242, 242 ,242);
}
#les_plus_populaires {
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242 ,242);
    border-radius: 10px;
    padding: 2em;
    width: 23%;
}
#les_plus_populaires img {
    height: 9em;
    width: 7em;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px 0 0 10px;
}
.cartes_populaires {
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
}
.cartes_populaires:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
#populaires {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#populaires a {
    text-decoration: none;
}
#populaires a:visited {
    color: black;
}
.cote {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    flex-direction: column;
    padding-left: 15px;
    font-size: small;
    width: 100%;
}
.cote, .cartes_populaires {
    display: flex;
}
#aligner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#aligner i {
    font-size: 23px;
}
.espace_plus_petit {
    padding-top: 10px;
    margin-top: -10px;
    font-size: 1.25em;
}
.espace_plus_petit p:hover {
    color: black;
}
.text_important {
    font-weight: bold;
}

/*Stylisation dee la section activités à Marseille*/

.bloc_de_3_cartes {
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.lien_portrait {
    margin-right: 30px;
}
.activites {
    width: auto;
}
.activites:hover {
    box-shadow: 5px 5px 15px rgb(0,0,0,0.4);
}
.activites p {
    padding: 0.5em 0;
    text-align: center;
}
.activites p:visited {
    color: black;
}
.activites img {
    width: 100%;
}
#activites_cartes {
    display: flex;
    justify-content: space-between;
}
#activites_cartes a {
    text-decoration: none;
    box-shadow: 1px 1px 15px rgb(0,0,0,0.4);
    border-radius: 10px;
    width: 100%;
    height: auto;
}
#activites_cartes a:visited {
    color: black;
}
#activites_cartes img {
    border: none solid rgb(254, 254, 254);
    background-color: rgb(245, 245, 245);
    border-radius: 10px 10px 0 0;
}
#activites_cartes .text_important {
    margin: 0;
}
.activites_en_colone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.activites_en_colone .activites {
    width: auto;
}
.activites_en_colone a {
    width: 75%;
}
.activites_mode_portrait {
    height: 22em;
    width: 13em;
    object-fit: cover;
}
.mode_paysage_grand {
    height: 10em;
    width: 20.1em;
    object-fit: cover;
}
.mode_paysage_petit {
    height: 7em;
    width: 20.1em;
    object-fit: cover;
}

/*Stylisation du pied de page*/

footer {
    display: flex;
    justify-content: flex-start;
    width: auto;
    background-color: rgb(242, 242, 242);
    padding: 5em;
}
footer div {
    margin-right: 15em;
}
footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    border-bottom: 0.5px solid black;
}

/*Adaptation du site pour les mobiles de mobiles de 280px à 600 pixels*/

@media only screen and (min-width: 280px) and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 85%;
        width: 100%;
    }
    nav img, #element_inscrire {
        padding: 10px;
    }
    header {
        margin: 0;
    }
    nav {
        flex-flow: row wrap;
        justify-content: center;
    }
    nav a:hover {
        padding-top: 0;
        border-top: none;
    }
    #barre_de_navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #liens_vers_ancres {
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
        margin-bottom: 2em;
        width: 100%;
    }
    #liens_vers_ancres a {
        margin: 0;
        border-bottom: 3px solid rgb(242, 242 ,242);
        color: black;
        padding-bottom: 1em;
        width: 100%;
        text-align: center;
    }
    #liens_vers_ancres a:focus {
        color: rgb(0, 101, 252);
        border-bottom: 3px solid rgb(0, 101, 252);
    }
    .liens_ancres {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    nav img {
        position: absolute;
        left: 2em;
        top: 0em;
        width: 67.5px;
        height: 31.5px;
    }
    #icon_localisation {
        width: 5%;
    }
    header p, form, #info, #filtre_par_categorie {
        margin: 0 2em;
        padding: 0.5em 0;
    }
    header h2 {
        margin: 0 2em 0 1.3em;
    }
    #element_inscrire {
        position: absolute;
        top: 0.7em;
        right: 1em;
    }
    #icon_localisation {
        width: 28px;
    }
    button {
        border-radius: 10px;
        margin-left: -10px;
    }
    button span {
        position: absolute;
        right: 10em;
        opacity: 0%;
    }
    button i {
        position: relative;
        left: 0;
        width: 28px;
    }
    #deux_sections, #activites_a_marseille {
        margin: 0 1em;
    }
    #aligner {
        margin: 0 2em 0 2em;
    }
    #filtre_par_categorie {
        display: block;
    }
    #filtre_par_categorie p {
        margin: 0;
    }
    #filtres p {
        padding: 0 1em;
        font-size: 10px;
    }
    #aligner {
        display: flex;
        align-items: flex-start;
    }
    #filtres {
        display: flex;
        flex-flow:  row wrap;
        justify-content: flex-start;
        width: 280px;
    }
    .icon_par_categorie {
        margin: 0 1em 1em 0em
    }
    #info {
        align-items: flex-start;
    }
    #icon_info {
        height: 5px;
        width: 5px;
    }
    #icon_info i {
        font-size: 8px;
    }
    #deux_sections {
        display: flex;
        flex-flow: column-reverse nowrap;
        width: 100%;
        margin: 0;
    }
    #hebergements_a_marseille {
        border-radius: 0;
        background-color: white;
        border: none;
        padding: 0;
        width: 100%;
    }
    #hebergements_a_marseille a {
        margin-bottom: 30px;
    }
    .hebergements {
        width: 100%;
    }
    .hebergements p {
        margin: -5px;
    }
    #cartes {
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }
    #cartes a {
        display: flex;
        justify-content: space-between;   
        width: 90%;
    }
    .cartes_populaires {
        width: 100%;
    }
    .cote {
        width: 45%;
    }
    .espace_plus_petit {
        font-size: 1em;
    }
    #populaires {
        justify-content: space-around;
        align-items: center;
    }
    #populaires a {
        width: 90%;
    }
    #plus_onglets {
        margin-left: 1.5em;
    }
    #logement_coucher  {
        margin-left: 1em;
    }
    #les_plus_populaires {
        border: none;
        width: auto;
        border-radius: 0;
        padding: 0;
    }
    #aligner {
        align-items: center;
    }
    #activites_a_marseille {
        margin: 2em;
    }
    .bloc_de_3_cartes {
        flex-direction: column;
        width: auto;
    }
    #activites_cartes {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #activites_cartes a {
        margin-bottom: 50px;
    }
    .activites {
        width: auto;
    }
    #activites_a_marseille img {
        height: 10em;
        width: 100%;
    }
    .activites_en_colone {
        width: 100%;
    }
    .activites_en_colone a {
        margin-bottom: 50px;
    }
    footer {
        display: block;
        white-space: nowrap;
        justify-content: flex-start;
    }
}

/*Adaptation des tablettes de 600 pixels à 1024 pixels*/

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    #filtres {
        flex-wrap: wrap;
        margin-left: 5%;
        justify-content: space-between;
    }
    #filtre_par_categorie > p {
        margin-top: 0;
    }
    .icon_par_categorie {
        margin-bottom: 1em;
    }
    #activites_a_marseille {
        display: block;
    }
    #activites_cartes {
        display: block;
    }
    #deux_sections {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    #hebergements_a_marseille {
        width: 100%;
        border-radius: 0;
        padding: 0;
        height: 50em;
    }
    .hebergements img {
        width: 100%;
        justify-content: center;
    }
    #plus_onglets, #logement_coucher {
        margin-left: 4%;
    }
    #cartes {
        justify-content: space-around;
    }
    #les_plus_populaires {
        margin-top: 1em;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: 22.5em;
    }
    #aligner {
        margin: 0 4%;
    }
    #populaires {
        justify-content: space-around;
        height: auto;
    }
    #les_plus_populaires img {
        border-radius: 10px 10px 0 0;
        justify-content: center;
        border: none;
        height: 150px;
        width: auto;
    }
    #populaires {
        flex-direction: row;
    }
    #populaires a {
        width: 30%;
    }
    .cartes_populaires {
        width: 100%;
        flex-direction: column;
        height: 261px;
    }
    .cote {
        width: 100%;
        height: 100%;
        padding-left: 5px;
        justify-content: space-between;
    }
    .espace_plus_petit {
        margin-top: 5px;
        font-size: 99%;
    }
    .bloc_de_3_cartes {
        align-content: space-around;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
        width: 100%;
    }
    #activites_cartes a {
        width: 50%;
    }
    .activites {
        width: auto;
    }
    .activites_mode_portrait, .mode_paysage_petit, .mode_paysage_grand {
        width: 100%;
    }
    footer {
        white-space: nowrap;
        flex-wrap: wrap;
    }
    footer div {
        margin-right: 15%;
    }
}